* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f806d;
  font-family: 'Courier New', Courier, monospace, sans-serif;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 5px dashed #bdce29;
  box-shadow: 20px 30px 20px 0px rgba(0, 0, 0, 0.308);
}
.textview {
  width: 217px;
  margin: 5px;
  font-size: 25px;
  padding: 5px;
  border: none;
  color: #1f806d;
  border-radius: 10px;
}
.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 2px;
  cursor: pointer;
  background-color: #bdce29;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #1f806d;
}
.btn:focus {
  outline: 0;
}